[submodule "max6-sdk"]
	path = max6-sdk
	url = https://github.com/Cycling74/max6-sdk
[submodule "libwebsockets"]
	path = libwebsockets
	url = git://git.libwebsockets.org/libwebsockets
[submodule "jansson"]
	path = jansson
	url = https://github.com/akheron/jansson
